/***** Fonts *****
font-family: 'Press Start 2P', cursive;
font-family: 'Play', sans-serif;
light green: #39b44a
dark green: #1a7a30 */
body {
	font: 100%;/* 16px by default, causes css validation error */
	background-image: url("../images/bg_image2.jpg");
	max-width: 960px;
	margin: 0 auto;
}
/***** Header *****/
header {
	overflow: hidden;
	padding: 0 0 15px;
	width: 53.125%; /*510px/960px*/
	background: #39b44a;
	float: left;
}
header h1{
	color: black;
	font-family: 'Press Start 2P', cursive;
}
h1, h2 {
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	padding: 15px 20px;
	text-shadow: 3px 3px 3px grey;
}
/***** Navigation *****/
nav ul {
	list-style-type: none;
	width: 46.875%;/*450px/960px*/
	background: #39b44a;
	margin: 0 auto;
	padding: 0;
	float: left;
	overflow: hidden;
}
nav ul li {
	width: 33.333333333333333333333333333333%;/*150px/450px*/
	float: left;
}
nav a {
	text-decoration: none;
	display: block;
	height: 62px;
	line-height: 62px;
	text-align: center;
	color: black;
}
nav a:hover {
	background: #1a7a30;
	color: white;
}
/***** Main Content *****/
#wrapper {
	overflow: hidden;
	width: 100%;
	background: #39b44a;
	min-height: 615px;
}
#main {
	width: 61.770833333333333333333333333333%;/*593px/960px*/
	float: left;
}
#main img {
	border: solid black 2px;
	margin: 42px 10px 0px 20px;
	float: left;
	max-width: 100%;
}
#r_main_img { width: 25.295109612141652613827993254637%; }/*150px/593px*/
#main h2 {
	text-align: center;
}
p {
	font-family: 'Play', sans-serif;
	margin: 0 20px;
	padding: 0 0 20px;
}
/***** Aside/Favorite Things/Contact Me *****/
aside {
	width: 38.229166666666666666666666666667%;/*367px/960px*/
	min-height: 534px;
	float: left;
}
aside ul {
	font-family: 'Play', sans-serif;
}
aside ul li{
	list-style-type: katakana;
}
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.green {
	color: black;
	border: solid 1px #538312;
	background: #64991E;
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
	background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: black;
	background: -webkit-gradient(linear, left top, left bottom, from(#6B9D28), to(#436B0C));
	background: -moz-linear-gradient(top, #6B9D28, #436B0C);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#4E7D0E), to(#7DB72F));
	background: -moz-linear-gradient(top,  #4E7D0E,  #7DB72F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E7D0E', endColorstr='#7DB72F');
}
/***** My Favorite Game *****/
#tf2 {
	overflow: hidden;
	background-color: #1a7a30;
	clear: both;
}
#tf2 h2 { text-align: center; }
#tf2 img { 
	width: 90%;
	padding-left: 2.5em
}
p.text-padding {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}
/***** Image Timeline *****/
#gallery {
	border: 1px solid #000;
	overflow: hidden;
	background: rgba(26, 122, 48, .75);
	clear: both;
	/*min-height: 250px;*/
}
#gallery h2 {
	text-align: center;
	padding-bottom: 20px;
}
.r_img { 
	float: left;
	width: 15.9375%;/*153px/960px*/
	margin: 0 30px 15px 30px;
	background-color: #1a7a30;
	padding: 10px;
	border-top: 1px solid #999;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
	border-left: 1px solid #999;
}
div.r_img img { 
	max-width: 100%;
	border-top: 2px solid #555;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 2px solid #555;
	float: left;	
}
/***** Table & Form *****/
#sign_up {
	background-color: #39b44a;
	overflow: hidden;
}
#sign_up h2, #sign_up p {
	text-align: center;
}
#table_section {
	float: left;
	padding-left: 1em;
}
table {
	margin: 0 auto;
	border-collapse: collapse;
}
td {
	border: 1px solid #000;
	text-align: center;
	padding: 0.3em;
}
th {
	text-align: left;
	padding: 0.3em;
}
#form_section {
	padding-right: 1em;
	padding-bottom: 1em;
	float: right;
}
.odd_row {
	background-color: #1a7a30;
}
input:focus {
	background: #1a7a30;
}
/***** Footer *****/
footer {
	background: #ddd;
	clear: both;
}
footer p {
	color: black;
	margin-bottom: 0;
	padding-bottom: 15px;
}
footer h2 {
	color: black;
}

/***** Media Queries *****/
	
	/*Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and ( min-width:768px ) and (max-width:958px){
		header h1 { font-size: 1.09em; }
	}
	/*Mobile Landscape size to Tablet Portrait size (devices and browsers) */
	@media only screen and ( min-width:480px ) and ( max-width:767px ){
		header h1 { font-size: 1.09em; }
		.r_img { margin: 0 115px 15px 115px; }
		#table_section {
			float: none;
			margin: 0 auto;
		}
		#form_section {
			margin: 0 auto;
			float: none;
			padding-left: 1em;
		}
	}
	/*Mobile Portrait size to Mobile Landscape size (devices and browsers) */
	@media only screen and ( max-width:479px ){
		header h1 { font-size: 1.09em; }
		header { float: none; }
		nav ul {  float: none; }
		.r_img { margin: 0 60px 15px 60px; }
		#table_section {
			float: none;
			margin: 0 auto;
		}
		#form_section {
			float: none;
			margin: 0 auto;
			padding: 0;
		}
	}