/***** Fonts *****
font-family: 'Press Start 2P', cursive;
font-family: 'Play', sans-serif;
light green: #39b44a
dark green: #1a7a30 */

body {
	background-image: url("../images/bg_image2.jpg");
	width: 960px;
	margin: 0 auto;
}

/***** Header *****/
header {
	padding: 0 0 15px;
	width: 510px;
	background: white;
	float: left;
}
header h1{
	color: black;
	font-family: 'Press Start 2P', cursive;
	text-shadow: 3px 3px 3px grey;
}
h1, h2 {
	font-family: 'Press Start 2P', cursive;
	margin: 0;
	padding: 15px 20px 0;
}

/***** Navigation *****/
nav ul {
	list-style-type: none;
	width: 450px;
	background: white;
	margin: 0 auto;
	padding: 0;
	float: left;
	overflow: hidden;
}
nav ul li {
	width: 150px;
	float: left;
}
nav a {
	text-decoration: none;
	display: block;
	height: 62px;
	line-height: 62px;
	text-align: center;
	color: black;
}
nav a:hover {
	background: #1a7a30;
	color: white;
}

/***** Main Content *****/
#main {
	border: 1px black;
	background: #39b44a;
	width: 593px;
	float: left;
}
#main img {
	border: solid black 2px;
	margin: 30px 10px 0px 20px;
	float: left;
}
#main h2 {
	text-align: center;
}
p {
	font-family: 'Play', sans-serif;
	margin: 0 20px;
	padding: 0 0 20px;
}

/***** Aside/Favorite Things/Contact Me *****/
aside {
	background: #39b44a;
	width: 367px;
	min-height: 534px;
	float: left;
}
aside ul {
	font-family: 'Play', sans-serif;
}
aside ul li{
	list-style-type: katakana;
}
aside a{
	margin: 250px, 183px;
}
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.green {
	color: black;
	border: solid 1px #538312;
	background: #64991E;
	background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
	background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: black;
	background: -webkit-gradient(linear, left top, left bottom, from(#6B9D28), to(#436B0C));
	background: -moz-linear-gradient(top, #6B9D28, #436B0C);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#4E7D0E), to(#7DB72F));
	background: -moz-linear-gradient(top,  #4E7D0E,  #7DB72F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E7D0E', endColorstr='#7DB72F');
}

/***** Image Timeline *****/
#gallery {
	background: rgba(26, 122, 48, .75);
	clear: both;
}
#gallery h2 {
	text-align: center;
	padding-bottom: 20px;
}
#gallery ol {
	width: 960px;
	margin: 0 auto;
	float: left;
	overflow: hidden;
}
#gallery ol li {
	width: 240px;
	float: left;
}
#gallery img {
	border: solid black 2px;
	margin:10px 40px;
}

/***** Footer *****/
footer {
	background: white;
	clear: both;
}
footer p {
	color: black;
	margin-bottom: 0;
	padding-bottom: 15px;
}
footer h2 {
	color: black;
}